{%extends "base_utama.html"%}
{% block title %}About Us{% endblock %}
{% block content %}
<h1>{{Text}}</h1>
<div style=" padding:50px; margin:5px;text-align:center">
<h1> Apa itu Search Engine? </h1>
    <p>Search Engine adalah sebuah software (program) yang digunakan untuk mencari
    teks atau video atau gambar yang berhubungan dengan query yang dipakai untuk mencari.<br>
    Search Engine ini menggunakan algoritma yang menghitung tingkat kemiripan dari hasil-hasil pencarian dengan query,
    kemudian menampilkan hasil dengan tingkat kemiripan tertinggi terlebih dahulu.</p>
<h1> How to Use </h1>
        <h4> Setup Awal</h4>
        <p>Pastikan di komputer anda sudah terinstall python, sebaiknya versi python 3.8, dan pip.<br>
        Jika belum, maka install terlebih dahulu.<br>
        Install library berikut ini dengan mengunakan command "pip install ..." di command prompt<br>
        1. pip install sastrawi <br>
        2. pip install nltk <br>
        3. pip install flask <br>
        4. pip install numpy <br>
        5. pip install beautifulsoup4 <br>
        6. pip install pandas <br>
        7. pip install glob2 <br>
        8. pip install Werkzeug <br>
        9. pip install requests <br>
        Jalankan program di python dengan isi "import nltk" di line 1 <br>
        dan "nltk.download()" di line 2. Akan keluar window NLTK downloader, pilih download all.<br></p>

        <h4> Menjalankan Program </h4>
        <p>Import file dengan menggunakan "git clone https://github.com/girvinjunod/Algeo02-19096" di gitbash <br>
        Jalankan command prompt di dalam folder src, kemudian jalankan command "python app.py"<br>
        Copy atau ketik ulang link yang dikeluarkan ke dalam browser anda. (http://127.0.0.1:5000/)<br></p>

        <h4> Search Engine Lokal </h4>
        <p>Untuk mencari file di local, dari menu utama tekan "File Lokal" kemudian masukkan query yang ingin dicari<br>
        Untuk mengupload file dari lokal, bisa menekan tab "Upload" dan mengupload file dari komputer<br>
        Term Table bisa diliat pada tab "Term Table"<br>
        Untuk search lagi klik tab search atau klik link home di laman search result.</p>

        <h4> Search Engine Web</h4>
        <p>Untuk menggunakan pencarian web, dari menu utama tekan "Web Scraping" dan memasukkan kategori juga query <br>
        Term Table bisa diliat pada tab "Web Term Table"<br>
        Untuk search lagi klik tab search atau klik link home di laman search result.</p>


<br>
<h1> About Us </h1>
    <br>
    <img src="{{url_for('static', filename='alstrukded.jpg')}}" alt="AlstrukDED" />
    <br><br>
    <p>Kami adalah sekelompok mahasiswa yang tubes alstrukdatnya tertinggal akibat hal-hal seperti tubes 2 algeo ini.<br>
    Mohon bantuan doanya atas nilai alstrukdat kami.</p>
    <h3>Kelompok kami terdiri dari 3 orang yaitu:</h3>
    <h6>Mahasiswa Biasa Girvin Junod 13519096 </h6>
    <img src="{{url_for('static', filename='girvin.jpg')}}" alt="girvinganteng" style = "width: 25%; heigth: 25%;" /><br><br>
    <h6>Petani Meme David Owen Adiwiguna 13519169</h6>
    <img src="{{url_for('static', filename='davidowen.jpg')}}" alt="dapidganteng" style = "width: 25%; heigth: 25%;" /><br><br>
    <h6>Mahacarry Leonard Matheus 13519215</h6>
    <img src="{{url_for('static', filename='leo.jpg')}}" alt="leoganteng" style = "width: 25%; heigth: 25%;" /><br>
    <br><br>
    <h2>Status kami saat ini:</h2>
    <img src="{{url_for('static', filename='meme.jpg')}}" style = "width: 25%; height: 25%;" alt="meme" />

</div>
{% endblock %}}
