{%extends "base.html"%}
{% block title %}Home Page{% endblock %}
{% block content %}
<div style=" padding:10px; margin:50px;text-align:center">
<h3>Welcome to AlstrukDED's Search Engine!</h3>
	<img src="{{url_for('static', filename='logo1.png')}}" style = "width: 65%; height: 65%;" alt="logo" />
<form action="#" method="post">
	<p><b>Insert text to search:</b></p>
	<p><input type="text" size = "100" name="nm" /></p>
	<p><input type="image" src="{{url_for('static', filename='search.png')}}" alt="Submit" width="48" height="48" value="Search"/></p>
</form>
</div>
{% endblock %}