{%extends "base_utama.html"%}
{% block title %}Home Page AlstrukDED{% endblock %}
{% block content %}
<div style=" padding:50px; margin:5px;text-align:center">
    <br><br>
<a href ="{{url_for('home')}}" style = "  background-color: #97B2F5;
  color: white;
  font-size:50px;
  padding: 25px 25px;
  width: 750px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px black;
  display: inline-block;">File Lokal</a> <br><br><br><br><br><br>
<a href="{{url_for('webhome')}}" style = "  background-color: #F48585;
  font-size:50px;
  padding: 25px 25px;
  width: 750px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px black;
  color: white;
  display: inline-block;">Web Scraping</a>
{% endblock %}