{%extends "webbase.html"%}
{% block title %}Home Web Page{% endblock %}
{% block content %}
<div style = "padding:10px; margin:50px; text-align:left">
<h3>Welcome to AlstrukDED's Web Scraping Search Engine!</h3>

<form action="#" method="post">
	Choose Category:<br>
	<input type="radio" id="bola" name="kategori" value="bola">
	<label for="bola">Bola</label><br>
	<input type="radio" id="money" name="kategori" value="money">
	<label for="money">Money</label><br>
	<input type="radio" id="tekno" name="kategori" value="tekno">
	<label for="tekno">Tekno</label><br>
	<input type="radio" id="otomotif" name="kategori" value="otomotif">
	<label for="otomotif">Otomotif</label><br>
	<input type="radio" id="lifestyle" name="kategori" value="lifestyle">
	<label for="lifestyle">Lifestyle</label><br>
	<input type="radio" id="health" name="kategori" value="health">
	<label for="health">Health</label><br>
	<input type="radio" id="properti" name="kategori" value="properti">
	<label for="properti">Properti</label><br>
	<input type="radio" id="travel" name="kategori" value="travel">
	<label for="travel">Travel</label><br>
	<input type="radio" id="edukasi" name="kategori" value="edukasi">
	<label for="edukasi">Edukasi</label><br>
	<p><b>Insert text to search:</b></p>
	<p><input type="text" size = "50" name="nm" /></p>
	<p><input type="submit" value="Search"/></p>
</form>
	</div>
{% endblock %}